In [1]:
import pandas as pd
import json
import zipfile
import os
from datetime import datetime, timedelta

#pd.set_option('display.max_columns', None)

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/traitlets/config/application.py", line 992, in launch_instance
    app.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 711, in start
    self.io_loop.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 1906, in _run_once
    handle._run()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell
    await result
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/z9/z6djmqsd5m1bqhh3jv9ccpz40000gn/T/ipykernel_58506/2695901047.py", line 1, in <module>
    import pandas as pd
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 50, in <module>
    from pandas.core import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/keremgura/anaconda3/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/traitlets/config/application.py", line 992, in launch_instance
    app.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 711, in start
    self.io_loop.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 1906, in _run_once
    handle._run()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell
    await result
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/z9/z6djmqsd5m1bqhh3jv9ccpz40000gn/T/ipykernel_58506/2695901047.py", line 1, in <module>
    import pandas as pd
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py", line 60, in <module>
    from pandas.core import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/keremgura/anaconda3/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/bottleneck/__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [2]:
import numpy as np

In [3]:
DATA_PATH = '../'
WYSCOUT_PATH = DATA_PATH + 'wyscout/'
SKILLCORNER_PATH = DATA_PATH + 'skillcorner/'
XT_PLOT_PATH = DATA_PATH + 'xt_plot_worldcup.csv'
MATCH_IDS_PATH = DATA_PATH + 'matchids.csv'

## Load Data

In [4]:
def unzip_all_files_in_dir(directory, target_directory):
    for file in os.listdir(directory):
        if file.endswith('.zip'):
            with zipfile.ZipFile(directory + file, 'r') as zip_ref:
                zip_ref.extractall(target_directory)

In [5]:
unzip = False

if unzip:
    unzip_all_files_in_dir('../wyscout/', WYSCOUT_PATH)
    unzip_all_files_in_dir('../skillcorner/', SKILLCORNER_PATH)

In [6]:
match_info = pd.read_csv(MATCH_IDS_PATH)
match_info = match_info.dropna(subset=['wyscout', 'skillcorner'])
match_info['skillcorner'] = match_info['skillcorner'].astype(int)

In [7]:
match_info.head(5)

    wyscout  skillcorner        date                 home result         away
8   5414111       952209  2023-03-24               France    4-0  Netherlands
10  5414113       726849  2023-03-24       Czech Republic    3-1       Poland
12  5414115       722109  2023-03-24               Sweden    0-3      Belgium
25  5414127       726848  2023-03-26              England    2-0      Ukraine
33  5414135       952208  2023-03-27  Republic of Ireland    0-1       France

In [8]:
wyscout_id = match_info['wyscout'].values[0]
skillcorner_id = match_info['skillcorner'].values[0]

In [9]:
def wyscout_to_df(filepath, lines=False):
    with open(filepath, encoding='utf8') as f:
        js = json.load(f)
    df = pd.json_normalize(js['events'])
    return df

### wyscout

In [10]:
wyscout_data = wyscout_to_df(WYSCOUT_PATH + str(wyscout_id) + ".json")
with pd.option_context('display.max_columns', None):
    display(wyscout_data.head(3))

,id,matchId,matchPeriod,minute,second,matchTimestamp,videoTimestamp,relatedEventId,shot,groundDuel,aerialDuel,infraction,carry,type.primary,type.secondary,location.x,location.y,team.id,team.name,team.formation,opponentTeam.id,opponentTeam.name,opponentTeam.formation,player.id,player.name,player.position,pass.accurate,pass.angle,pass.height,pass.length,pass.recipient.id,pass.recipient.name,pass.recipient.position,pass.endLocation.x,pass.endLocation.y,possession.id,possession.duration,possession.types,possession.eventsNumber,possession.eventIndex,possession.startLocation.x,possession.startLocation.y,possession.endLocation.x,possession.endLocation.y,possession.team.id,possession.team.name,possession.team.formation,possession.attack,pass,carry.progression,carry.endLocation.x,carry.endLocation.y,groundDuel.opponent.id,groundDuel.opponent.name,groundDuel.opponent.position,groundDuel.duelType,groundDuel.keptPossession,groundDuel.progressedWithBall,groundDuel.stoppedProgress,groundDuel.recoveredPossession,groundDuel.takeOn,groundDuel.side,groundDuel.relatedDuelId,possession.attack.withShot,possession.attack.withShotOnGoal,possession.attack.withGoal,possession.attack.flank,possession.attack.xg,shot.bodyPart,shot.isGoal,shot.onTarget,shot.goalZone,shot.xg,shot.postShotXg,shot.goalkeeperActionId,shot.goalkeeper.id,shot.goalkeeper.name,possession,aerialDuel.opponent.id,aerialDuel.opponent.name,aerialDuel.opponent.position,aerialDuel.opponent.height,aerialDuel.firstTouch,aerialDuel.height,aerialDuel.relatedDuelId,shot.goalkeeper,infraction.yellowCard,infraction.redCard,infraction.type,infraction.opponent.id,infraction.opponent.name,infraction.opponent.position,infraction.opponent
0,1587492614,5414111,1H,0,1,00:00:01.912,3.912638,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",51,50,664,Netherlands,4-2-3-1,4418,France,4-3-3,118,M. Depay,CF,True,114.0,None,24.0,625.0,M. de Roon,RDMF,42.0,83.0,1.587493e+09,110.275779,[],43.0,0.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1587492615,5414111,1H,0,5,00:00:05.782,7.782226,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",42,83,664,Netherlands,4-2-3-1,4418,France,4-3-3,625,M. de Roon,RDMF,True,-133.0,None,21.0,476361.0,L. Geertruida,RCB,29.0,60.0,1.587493e+09,110.275779,[],43.0,1.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1587492616,5414111,1H,0,8,00:00:08.951,10.951834,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",29,60,664,Netherlands,4-2-3-1,4418,France,4-3-3,476361,L. Geertruida,RCB,True,-100.0,None,22.0,370.0,V. van Dijk,LCB,25.0,28.0,1.587493e+09,110.275779,[],43.0,2.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### skillcorner

In [11]:
metadata = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_metadata.csv")
tracking_df = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_tracking.csv")
lineup_df = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_lineup.csv")

In [12]:
passes_skillcorner = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_passes.csv")
passes_skillcorner.columns

Index(['player_id', 'player_name', 'short_name', 'player_birthdate',
       'match_id', 'match_name', 'match_date', 'team_id', 'team_name',
       'competition_id', 'competition_name', 'season_id', 'season_name',
       'competition_edition_id', 'position', 'group', 'result', 'venue',
       'third', 'channel', 'minutes_played_per_match',
       'adjusted_min_tip_per_match', 'quality_check',
       'count_opportunities_to_pass_to_runs_in_sample',
       'count_opportunities_to_pass_to_runs_per_match',
       'count_pass_attempts_to_runs_per_match',
       'pass_opportunities_to_runs_threat_per_match',
       'runs_to_which_pass_attempted_threat_per_match',
       'pass_completion_ratio_to_runs', 'count_runs_by_teammate_per_match',
       'runs_to_which_pass_completed_threat_per_match',
       'count_completed_pass_to_runs_per_match',
       'count_completed_pass_to_runs_leading_to_shot_per_match',
       'count_completed_pass_to_runs_leading_to_goal_per_match',
       'count_pass_opportunities_to_dangerous_runs_per_match',
       'count_pass_attempts_to_dangerous_runs_per_match',
       'count_completed_pass_to_dangerous_runs_per_match'],
      dtype='object')

In [13]:
print("Metadata")
display(metadata.head(3))
print("Tracking")
display(tracking_df.head(3))
print("Lineup")
display(lineup_df.head(3))

Metadata

,match_id,match_date,competition,season,home_team,away_team,home_score,away_score,home_team_jersey_color,away_team_jersey_color,home_team_number_color,away_team_number_color,home_team_coach,away_team_coach,pitch_name,pitch_length,pitch_width,provider,fps
0,952209,03/24/2023 19:45,European Championship Qualifiers,2023/2024,France,Netherland,4,0,#fafafa,#ff824c,#000000,#000000,Didier Deschamps,Frank De Boer,Stade de France,105.0,68.0,SkillCorner,10

Tracking

,match_id,half,frame_id,timestamp,object_id,x,y,z,extrapolated
0,952209,1,20,0,-1,0.12,-0.19,0.12,False
1,952209,1,20,0,7604,-39.44,-0.21,0.00,True
2,952209,1,20,0,16320,-16.05,-7.18,0.00,False

Lineup

,match_id,team_name,player_id,player_first_name,player_last_name,player_shirt_number,player_position,player_birthdate,start_time,end_time,yellow_card,red_card,injured,goal,own_goal
0,952209,Netherland,14397,Tyrell,Malacia,16,Right Wing Back,1999-08-17,01:26:59,NaN,0,0,False,0,0
1,952209,Netherland,12654,Donyell,Malen,7,Right Winger,1999-01-19,01:06:22,NaN,0,0,False,0,0
2,952209,Netherland,2548,Davy,Klaassen,14,Attacking Midfield,1993-02-21,01:06:22,NaN,0,0,False,0,0

# Pass Events

In [14]:
passes_df = wyscout_data[wyscout_data['type.primary'] == 'pass']

# Filter out inaccurate passes
accurate_only = True
if accurate_only:
    passes_df = passes_df[passes_df['pass.accurate'] == True]

print(passes_df.shape)

(897, 93)

In [15]:
relevant_columns = ['id', 'matchId', 'matchPeriod', 'matchTimestamp',
       'relatedEventId', 'type.primary', 'type.secondary', 'location.x',
       'location.y', 'team.id', 'team.name', 'opponentTeam.id', 'opponentTeam.name', 'player.id', 'player.name', 'player.position', 'pass.accurate',
       'pass.angle', 'pass.height', 'pass.length', 'pass.recipient.id',
       'pass.recipient.name', 'pass.recipient.position', 'pass.endLocation.x',
       'pass.endLocation.y', 'possession.id', 'possession.attack.withShotOnGoal', 'possession.attack.withGoal']
passes_ext = passes_df[relevant_columns]

print(passes_ext.shape)

(897, 28)

In [16]:
passes_df.columns

Index(['id', 'matchId', 'matchPeriod', 'minute', 'second', 'matchTimestamp',
       'videoTimestamp', 'relatedEventId', 'shot', 'groundDuel', 'aerialDuel',
       'infraction', 'carry', 'type.primary', 'type.secondary', 'location.x',
       'location.y', 'team.id', 'team.name', 'team.formation',
       'opponentTeam.id', 'opponentTeam.name', 'opponentTeam.formation',
       'player.id', 'player.name', 'player.position', 'pass.accurate',
       'pass.angle', 'pass.height', 'pass.length', 'pass.recipient.id',
       'pass.recipient.name', 'pass.recipient.position', 'pass.endLocation.x',
       'pass.endLocation.y', 'possession.id', 'possession.duration',
       'possession.types', 'possession.eventsNumber', 'possession.eventIndex',
       'possession.startLocation.x', 'possession.startLocation.y',
       'possession.endLocation.x', 'possession.endLocation.y',
       'possession.team.id', 'possession.team.name',
       'possession.team.formation', 'possession.attack', 'pass',
       'carry.progression', 'carry.endLocation.x', 'carry.endLocation.y',
       'groundDuel.opponent.id', 'groundDuel.opponent.name',
       'groundDuel.opponent.position', 'groundDuel.duelType',
       'groundDuel.keptPossession', 'groundDuel.progressedWithBall',
       'groundDuel.stoppedProgress', 'groundDuel.recoveredPossession',
       'groundDuel.takeOn', 'groundDuel.side', 'groundDuel.relatedDuelId',
       'possession.attack.withShot', 'possession.attack.withShotOnGoal',
       'possession.attack.withGoal', 'possession.attack.flank',
       'possession.attack.xg', 'shot.bodyPart', 'shot.isGoal', 'shot.onTarget',
       'shot.goalZone', 'shot.xg', 'shot.postShotXg',
       'shot.goalkeeperActionId', 'shot.goalkeeper.id', 'shot.goalkeeper.name',
       'possession', 'aerialDuel.opponent.id', 'aerialDuel.opponent.name',
       'aerialDuel.opponent.position', 'aerialDuel.opponent.height',
       'aerialDuel.firstTouch', 'aerialDuel.height',
       'aerialDuel.relatedDuelId', 'shot.goalkeeper', 'infraction.yellowCard',
       'infraction.redCard', 'infraction.type', 'infraction.opponent.id',
       'infraction.opponent.name', 'infraction.opponent.position',
       'infraction.opponent'],
      dtype='object')

In [17]:
passes = passes_df.loc[:,['matchId', 'matchTimestamp', 'matchPeriod', 'team.id', 'team.name', 'player.id', 'player.name', 'opponentTeam.id', 'opponentTeam.name', 'pass.recipient.id', 'pass.recipient.name', 'location.x', 'location.y', 'pass.endLocation.x', 'pass.endLocation.y']]
passes.head()

,matchId,matchTimestamp,matchPeriod,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y
0,5414111,00:00:01.912,1H,664,Netherlands,118,M. Depay,4418,France,625.0,M. de Roon,51,50,42.0,83.0
1,5414111,00:00:05.782,1H,664,Netherlands,625,M. de Roon,4418,France,476361.0,L. Geertruida,42,83,29.0,60.0
2,5414111,00:00:08.951,1H,664,Netherlands,476361,L. Geertruida,4418,France,370.0,V. van Dijk,29,60,25.0,28.0
3,5414111,00:00:13.151,1H,664,Netherlands,370,V. van Dijk,4418,France,476361.0,L. Geertruida,25,28,25.0,51.0
5,5414111,00:00:17.930,1H,664,Netherlands,476361,L. Geertruida,4418,France,370.0,V. van Dijk,32,50,30.0,17.0

In [18]:
passes['matchPeriod'] = passes['matchPeriod'].apply(lambda x: int(x.split('H')[0]))
passes['pass.recipient.id'] = passes['pass.recipient.id'].astype(int)
passes['pass.endLocation.x'] = passes['pass.endLocation.x'].astype(int)
passes['pass.endLocation.y'] = passes['pass.endLocation.y'].astype(int)

In [19]:
passes.head()

,matchId,matchTimestamp,matchPeriod,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y
0,5414111,00:00:01.912,1,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83
1,5414111,00:00:05.782,1,664,Netherlands,625,M. de Roon,4418,France,476361,L. Geertruida,42,83,29,60
2,5414111,00:00:08.951,1,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,29,60,25,28
3,5414111,00:00:13.151,1,664,Netherlands,370,V. van Dijk,4418,France,476361,L. Geertruida,25,28,25,51
5,5414111,00:00:17.930,1,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,32,50,30,17

# Compute xT

In [20]:
#xt_table = pd.read_csv('../data/xt_plot_worldcup.csv')
xt_table = pd.read_csv('../smoothed_xt.csv')

In wyscout coordinates are normalized to the range (0,100) in both spatial dimensions.

In [21]:
cell_width = 100 / xt_table.shape[1]
cell_height = 100 / xt_table.shape[0]

print(f'cell width:\t{round(cell_width,2)}')
print(f'cell height:\t{round(cell_height,2)}')

cell width:	0.95
cell height:	1.47

In [22]:
def get_xt_index(x, y):
    x_index = min(int(x // cell_width), xt_table.shape[1] - 1)
    y_index = min(int(y // cell_height), xt_table.shape[0] - 1)
    return x_index, y_index

In [23]:
start_xts = passes.apply(lambda row: xt_table.iat[get_xt_index(row['location.x'], row['location.y'])[1], 
                                                           get_xt_index(row['location.x'], row['location.y'])[0]], axis=1)
end_xts = passes.apply(lambda row: xt_table.iat[get_xt_index(row['pass.endLocation.x'], row['pass.endLocation.y'])[1], 
                                                         get_xt_index(row['pass.endLocation.x'], row['pass.endLocation.y'])[0]], axis=1)
passes.loc[:,'dxt'] = end_xts - start_xts

# Player Locations

In [24]:
def round_to_tenth_of_second(timestamp):
    dt = datetime.strptime(timestamp, '%H:%M:%S.%f')
    microsecond = dt.microsecond
    rounded_microsecond = round(microsecond, -5)
    if rounded_microsecond == 1000000:
        dt += timedelta(seconds=1)
        rounded_microsecond = 0
    dt = dt.replace(microsecond=rounded_microsecond)
    return f"{dt.strftime('%H:%M:%S')}.{rounded_microsecond:06}"

def convert_timestamp(row):
    ts = row['timestamp']
    if row['half'] == 2:
        ts += 45 * 60 * 1000  # Add 45 minutes in milliseconds
    td = timedelta(milliseconds=ts)
    total_seconds = int(td.total_seconds())
    microseconds = int(td.microseconds)
    return f"{total_seconds // 3600:02}:{(total_seconds % 3600) // 60:02}:{total_seconds % 60:02}.{microseconds:06}"

In [25]:
columns_to_drop = ['frame_id', 'extrapolated']
existing_columns_to_drop = [col for col in columns_to_drop if col in tracking_df.columns]
tracking_df.drop(columns=existing_columns_to_drop, inplace=True)

In [26]:
if not {'timestamp', 'period'}.issubset(tracking_df.index.names):    
    tracking_df['timestamp'] = tracking_df.apply(convert_timestamp, axis=1)
    tracking_df.set_index(['timestamp', 'half'], inplace=True)
    tracking_df.rename_axis(index={'timestamp': 'timestamp', 'half': 'period'}, inplace=True)
tracking_df.sample(3)

                        match_id  object_id      x      y    z
timestamp       period
01:33:46.900000 2         952209       7387  35.39  12.72  0.0
00:31:15.700000 1         952209       4777  37.96   1.70  0.0
00:49:13.600000 2         952209       7604  32.13   4.28  0.0

In [27]:
passes['quantizedTimestamp'] = passes['matchTimestamp'].apply(round_to_tenth_of_second)
if not {'timestamp', 'period'}.issubset(passes.index.names):
    passes.set_index(['quantizedTimestamp', 'matchPeriod'], inplace=True)
    passes.rename_axis(index={'quantizedTimestamp': 'timestamp', 'matchPeriod': 'period'}, inplace=True)

In [28]:
joined_df = passes.join(tracking_df, how='inner')

In [29]:
columns_to_drop = ['match_id']
existing_columns_to_drop = [col for col in columns_to_drop if col in joined_df.columns]
joined_df.drop(columns=existing_columns_to_drop, inplace=True)

joined_df['object_id'] = joined_df['object_id'].astype(int)

# Normalize Pitch Coordinates

In [30]:
pitch_length = metadata['pitch_length'].values[0]
pitch_width = metadata['pitch_width'].values[0]

In [31]:
def normalize_coordinates(row):
    x, y = row['x'], row['y']
    new_x = (x + pitch_length/2) / pitch_length * 100
    new_y = (y + pitch_width/2) / pitch_width * 100
    return new_x, new_y

In [32]:
df = joined_df.apply(lambda row: normalize_coordinates(row), axis=1)
joined_df[['x_norm', 'y_norm']] = pd.DataFrame(df.tolist(), index=df.index)

In [33]:
joined_df.columns

Index(['matchId', 'matchTimestamp', 'team.id', 'team.name', 'player.id',
       'player.name', 'opponentTeam.id', 'opponentTeam.name',
       'pass.recipient.id', 'pass.recipient.name', 'location.x', 'location.y',
       'pass.endLocation.x', 'pass.endLocation.y', 'dxt', 'object_id', 'x',
       'y', 'z', 'x_norm', 'y_norm'],
      dtype='object')

In [34]:
def responsibility(row, max_distance=10, pass_length_factor=1.0, end_location_factor=0.5):
    
    start_x = row['location.x']
    start_y = row['location.y']
    end_x = row['pass.endLocation.x']
    end_y = row['pass.endLocation.y']
    
    player_x = row['x_norm']
    player_y = row['y_norm']
    
    # Vector from start to end of the pass
    pass_vector = np.array([end_x - start_x, end_y - start_y])
    # Vector from start of the pass to the player's position
    player_vector = np.array([player_x - start_x, player_y - start_y])
    
    pass_length = np.linalg.norm(pass_vector)
    
    
    if pass_length > 0:
        pass_unit_vector = pass_vector / pass_length
        projection_length = np.dot(player_vector, pass_unit_vector)
        
        # Clamp projection_length to the range [0, pass_length] to account for the endpoints of the pass
        projection_length = max(0, min(projection_length, pass_length))
        
        # Find the point on the pass closest to the player
        closest_point = np.array([start_x, start_y]) + projection_length * pass_unit_vector
        
        # Distance from player to the closest point on the pass
        distance_to_pass = np.linalg.norm(np.array([player_x, player_y]) - closest_point)
    else:
        # If the pass length is zero, set distance to the player's distance from the start point
        distance_to_pass = np.linalg.norm(np.array([player_x, player_y]) - np.array([start_x, start_y]))
    
    # Calculate distance from the player to the end location of the pass
    distance_to_end_location = np.linalg.norm(np.array([player_x, player_y]) - np.array([end_x, end_y]))
    
    # Calculate responsibility with pass length and distance to pass scaling
    if distance_to_pass < max_distance and row['object_id'] != -1:
        """
        # Apply scaling based on the distance to the pass and pass length
        raw_responsibility = (1 - (distance_to_pass / max_distance)) * np.power(1 + pass_length_factor, pass_length)
        
        # Normalize the responsibility to be between 0 and 1
        max_possible_responsibility = np.power(1 + pass_length_factor, pass_length)
        responsibility_score = raw_responsibility / max_possible_responsibility
        
        # Adjust the responsibility based on the distance to the end location
        
        proximity_to_end = 1 - (distance_to_end_location / max_distance)
        end_location_adjustment = (1 + end_location_factor * proximity_to_end)
        responsibility_score *= end_location_adjustment
        """
        raw_responsibility = (1 - (distance_to_pass / max_distance)) * np.power(1 + pass_length_factor, pass_length)
        
        # Normalize the responsibility to be between 0 and 1
        max_possible_responsibility = np.power(1 + pass_length_factor, pass_length)
        responsibility_score = raw_responsibility / max_possible_responsibility
        
        
    else:
        # If the player is too far, they get no responsibility
        responsibility_score = 0
        
    
        
    return responsibility_score

In [35]:
joined_df['responsibility'] = joined_df.apply(responsibility, axis=1, pass_length_factor = 1)

cols_to_display = ['player.id', 'object_id', 'location.x', 'location.y', 'pass.endLocation.x', 
                   'pass.endLocation.y','x', 'y', 'x_norm', 'y_norm', 'responsibility', 'dxt']
joined_df[cols_to_display].head(23)

                        player.id  object_id  location.x  location.y  \
timestamp       period
00:00:01.900000 1             118         -1          51          50
                1             118       7604          51          50
                1             118      16320          51          50
                1             118      11516          51          50
                1             118      11630          51          50
                1             118      11606          51          50
                1             118      12218          51          50
                1             118        277          51          50
                1             118        946          51          50
                1             118       5922          51          50
                1             118       6028          51          50
                1             118      12190          51          50
                1             118       4777          51          50
                1             118      14407          51          50
                1             118      10738          51          50
                1             118      24466          51          50
                1             118       7863          51          50
                1             118      33512          51          50
                1             118       7017          51          50
                1             118       3837          51          50
                1             118      10082          51          50
                1             118      31930          51          50
                1             118       7387          51          50

                        pass.endLocation.x  pass.endLocation.y      x      y  \
timestamp       period
00:00:01.900000 1                       42                  83   0.40   0.29
                1                       42                  83 -41.03  -0.05
                1                       42                  83 -15.86  -7.61
                1                       42                  83 -16.08   2.42
                1                       42                  83 -14.54 -18.87
                1                       42                  83 -14.08  17.56
                1                       42                  83  -9.69   0.05
                1                       42                  83  -7.61   9.58
                1                       42                  83  -6.20  -6.81
                1                       42                  83  -1.21 -19.48
                1                       42                  83  -0.19  22.92
                1                       42                  83   0.12  -9.05
                1                       42                  83  40.57   0.23
                1                       42                  83  18.81   5.97
                1                       42                  83  18.44 -12.58
                1                       42                  83  11.61  21.55
                1                       42                  83  14.46 -22.88
                1                       42                  83  11.06  -4.01
                1                       42                  83  11.04   7.53
                1                       42                  83   2.86  -8.93
                1                       42                  83   0.45  21.52
                1                       42                  83   0.35 -18.34
                1                       42                  83  -0.70   0.90

                           x_norm     y_norm  responsibility       dxt
timestamp       period
00:00:01.900000 1       50.380952  50.426471        0.000000 -0.004162
                1       10.923810  49.926471        0.000000 -0.004162
                1       34.895238  38.808824        0.000000 -0.004162
                1       34.685714  53.558824        0.000000 -0.004162
                1       36.152381  22.250000        0.000000 -0.004162
                1       36.590476  75.823529        0.289283 -0.004162
                1       40.771429  50.073529        0.015119 -0.004162
                1       42.752381  64.088235        0.574986 -0.004162
                1       44.095238  39.985294        0.000000 -0.004162
                1       48.847619  21.352941        0.000000 -0.004162
                1       49.819048  83.705882        0.227074 -0.004162
                1       50.114286  36.691176        0.000000 -0.004162
                1       88.638095  50.338235        0.000000 -0.004162
                1       67.914286  58.779412        0.000000 -0.004162
                1       67.561905  31.500000        0.000000 -0.004162
                1       61.057143  81.691176        0.000000 -0.004162
                1       63.771429  16.352941        0.000000 -0.004162
                1       60.533333  44.102941        0.000000 -0.004162
                1       60.514286  61.073529        0.000000 -0.004162
                1       52.723810  36.867647        0.000000 -0.004162
                1       50.428571  81.647059        0.222440 -0.004162
                1       50.333333  23.029412        0.000000 -0.004162
                1       49.333333  51.323529        0.874030 -0.004162

In [36]:
id_map = pd.read_csv('player_id_map.csv')

In [37]:
id_map

,Unnamed: 0,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
0,0,277,Adrien,Rabiot,France,209117,A. Rabiot,4418,France
1,1,946,Antoine,Griezmann,France,3682,A. Griezmann,4418,France
2,2,12218,Aurlien,Tchouamni,France,480145,A. Tchouamni,4418,France
3,3,2106,Daley,Blind,Netherland,38,D. Blind,664,Netherlands
4,4,2548,Davy,Klaassen,Netherland,56,D. Klaassen,664,Netherlands
5,5,11516,Dayot,Upamecano,France,352988,D. Upamecano,4418,France
6,6,12654,Donyell,Malen,Netherland,365446,D. Malen,664,Netherlands
7,7,22103,Eduardo,Camavinga,France,599551,E. Camavinga,4418,France
8,8,3837,Georginio,Wijnaldum,Netherland,116,G. Wijnaldum,664,Netherlands
9,9,16320,Ibrahima,Konat,France,393247,I. Konat,4418,France
10,10,4777,Jasper,Cillessen,Netherland,33,J. Cillessen,664,Netherlands
11,11,11630,Jules,Kound,France,410062,J. Kound,4418,France
12,12,24466,Jurrin,Timber Maduro,Netherland,491458,J. Timber,664,Netherlands
13,13,33512,Kenneth,Taylor,Netherland,535816,K. Taylor,664,Netherlands
14,14,20191,Khphren,Thuram-Ulien,France,532750,K. Thuram,4418,France
15,15,5922,Kingsley,Coman,France,231139,K. Coman,4418,France
16,16,6028,Kylian,Mbapp Lottin,France,353833,K. Mbapp,4418,France
17,17,14407,Lutsharel,Geertruida,Netherland,476361,L. Geertruida,664,Netherlands
18,18,7017,Marten,de Roon,Netherland,625,M. de Roon,664,Netherlands
19,19,7387,Memphis,Depay,Netherland,118,M. Depay,664,Netherlands
20,20,7604,Mike,Maignan,France,134496,M. Maignan,4418,France
21,21,12246,Moussa,Diaby,France,419204,M. Diaby,4418,France
22,22,7863,Nathan,Ak,Netherland,134102,N. Ak,664,Netherlands
23,23,8206,Olivier,Giroud,France,26010,O. Giroud,4418,France
24,24,12190,Randal,Kolo Muani,France,437490,R. Kolo Muani,4418,France
25,25,10082,Steven,Berghuis,Netherland,704,S. Berghuis,664,Netherlands
26,26,11606,Theo,Hernndez,France,344132,T. Hernndez,4418,France
27,27,14397,Tyrell,Malacia,Netherland,404748,T. Malacia,664,Netherlands
28,28,10738,Virgil,van Dijk,Netherland,370,V. van Dijk,664,Netherlands
29,29,10916,Wout,Weghorst,Netherland,221069,W. Weghorst,664,Netherlands
30,30,31930,Xavi Quentin Shay,Simons,Netherland,626551,Xavi Simons,664,Netherlands
31,31,12229,Youssouf,Fofana,France,525236,Y. Fofana,4418,France

In [38]:
# First, merge id_map with joined_df on player.id (WyScout player IDs) to get the team_name_sk for player_skillcorner_id
joined_df = joined_df.merge(id_map[['player_id_wy', 'player_id_sk', 'team_name_sk']],
                            left_on='player.id', 
                            right_on='player_id_wy', 
                            how='left')

# Rename the columns for clarity
joined_df.rename(columns={'player_id_sk': 'player_skillcorner_id', 'team_name_sk': 'team_name_skillcorner'}, inplace=True)

# Now merge id_map with object_id (which is SkillCorner ID) to get the team_name_sk for object_id
joined_df = joined_df.merge(id_map[['player_id_sk', 'team_name_sk']],
                            left_on='object_id', 
                            right_on='player_id_sk', 
                            how='left')

# Rename the columns for clarity
joined_df.rename(columns={'team_name_sk': 'team_name_object'}, inplace=True)

# Finally, create a new column to check if both players are on the same team
joined_df['same_team'] = joined_df['team_name_skillcorner'] == joined_df['team_name_object']

# You can drop any unnecessary columns if needed
joined_df.drop(columns=['player_id_wy', 'player_id_sk'], inplace=True)

In [39]:
joined_df.columns

Index(['matchId', 'matchTimestamp', 'team.id', 'team.name', 'player.id',
       'player.name', 'opponentTeam.id', 'opponentTeam.name',
       'pass.recipient.id', 'pass.recipient.name', 'location.x', 'location.y',
       'pass.endLocation.x', 'pass.endLocation.y', 'dxt', 'object_id', 'x',
       'y', 'z', 'x_norm', 'y_norm', 'responsibility', 'player_skillcorner_id',
       'team_name_skillcorner', 'team_name_object', 'same_team'],
      dtype='object')

In [40]:
#joined_df['same_team'] = joined_df['team.name'] == joined_df['team_name_sk_y']
cols_to_display.append('team.name')
cols_to_display.append('team_name_object')
cols_to_display.append('same_team')
joined_df[cols_to_display].head(23)

,player.id,object_id,location.x,location.y,pass.endLocation.x,pass.endLocation.y,x,y,x_norm,y_norm,responsibility,dxt,team.name,team_name_object,same_team
0,118,-1,51,50,42,83,0.40,0.29,50.380952,50.426471,0.000000,-0.004162,Netherlands,NaN,False
1,118,7604,51,50,42,83,-41.03,-0.05,10.923810,49.926471,0.000000,-0.004162,Netherlands,France,False
2,118,16320,51,50,42,83,-15.86,-7.61,34.895238,38.808824,0.000000,-0.004162,Netherlands,France,False
3,118,11516,51,50,42,83,-16.08,2.42,34.685714,53.558824,0.000000,-0.004162,Netherlands,France,False
4,118,11630,51,50,42,83,-14.54,-18.87,36.152381,22.250000,0.000000,-0.004162,Netherlands,France,False
5,118,11606,51,50,42,83,-14.08,17.56,36.590476,75.823529,0.289283,-0.004162,Netherlands,France,False
6,118,12218,51,50,42,83,-9.69,0.05,40.771429,50.073529,0.015119,-0.004162,Netherlands,France,False
7,118,277,51,50,42,83,-7.61,9.58,42.752381,64.088235,0.574986,-0.004162,Netherlands,France,False
8,118,946,51,50,42,83,-6.20,-6.81,44.095238,39.985294,0.000000,-0.004162,Netherlands,France,False
9,118,5922,51,50,42,83,-1.21,-19.48,48.847619,21.352941,0.000000,-0.004162,Netherlands,France,False
10,118,6028,51,50,42,83,-0.19,22.92,49.819048,83.705882,0.227074,-0.004162,Netherlands,France,False
11,118,12190,51,50,42,83,0.12,-9.05,50.114286,36.691176,0.000000,-0.004162,Netherlands,France,False
12,118,4777,51,50,42,83,40.57,0.23,88.638095,50.338235,0.000000,-0.004162,Netherlands,Netherland,True
13,118,14407,51,50,42,83,18.81,5.97,67.914286,58.779412,0.000000,-0.004162,Netherlands,Netherland,True
14,118,10738,51,50,42,83,18.44,-12.58,67.561905,31.500000,0.000000,-0.004162,Netherlands,Netherland,True
15,118,24466,51,50,42,83,11.61,21.55,61.057143,81.691176,0.000000,-0.004162,Netherlands,Netherland,True
16,118,7863,51,50,42,83,14.46,-22.88,63.771429,16.352941,0.000000,-0.004162,Netherlands,Netherland,True
17,118,33512,51,50,42,83,11.06,-4.01,60.533333,44.102941,0.000000,-0.004162,Netherlands,Netherland,True
18,118,7017,51,50,42,83,11.04,7.53,60.514286,61.073529,0.000000,-0.004162,Netherlands,Netherland,True
19,118,3837,51,50,42,83,2.86,-8.93,52.723810,36.867647,0.000000,-0.004162,Netherlands,Netherland,True
20,118,10082,51,50,42,83,0.45,21.52,50.428571,81.647059,0.222440,-0.004162,Netherlands,Netherland,True
21,118,31930,51,50,42,83,0.35,-18.34,50.333333,23.029412,0.000000,-0.004162,Netherlands,Netherland,True
22,118,7387,51,50,42,83,-0.70,0.90,49.333333,51.323529,0.874030,-0.004162,Netherlands,Netherland,True

In [41]:
joined_df['responsibility'] = np.where(joined_df['same_team'], 0, joined_df['responsibility'])
joined_df.head(23)

,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,...,x,y,z,x_norm,y_norm,responsibility,player_skillcorner_id,team_name_skillcorner,team_name_object,same_team
0,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,0.40,0.29,0.2,50.380952,50.426471,0.000000,7387,Netherland,NaN,False
1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-41.03,-0.05,0.0,10.923810,49.926471,0.000000,7387,Netherland,France,False
2,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-15.86,-7.61,0.0,34.895238,38.808824,0.000000,7387,Netherland,France,False
3,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-16.08,2.42,0.0,34.685714,53.558824,0.000000,7387,Netherland,France,False
4,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-14.54,-18.87,0.0,36.152381,22.250000,0.000000,7387,Netherland,France,False
5,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-14.08,17.56,0.0,36.590476,75.823529,0.289283,7387,Netherland,France,False
6,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-9.69,0.05,0.0,40.771429,50.073529,0.015119,7387,Netherland,France,False
7,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-7.61,9.58,0.0,42.752381,64.088235,0.574986,7387,Netherland,France,False
8,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-6.20,-6.81,0.0,44.095238,39.985294,0.000000,7387,Netherland,France,False
9,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-1.21,-19.48,0.0,48.847619,21.352941,0.000000,7387,Netherland,France,False
10,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-0.19,22.92,0.0,49.819048,83.705882,0.227074,7387,Netherland,France,False
11,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,0.12,-9.05,0.0,50.114286,36.691176,0.000000,7387,Netherland,France,False
12,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,40.57,0.23,0.0,88.638095,50.338235,0.000000,7387,Netherland,Netherland,True
13,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,18.81,5.97,0.0,67.914286,58.779412,0.000000,7387,Netherland,Netherland,True
14,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,18.44,-12.58,0.0,67.561905,31.500000,0.000000,7387,Netherland,Netherland,True
15,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,11.61,21.55,0.0,61.057143,81.691176,0.000000,7387,Netherland,Netherland,True
16,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,14.46,-22.88,0.0,63.771429,16.352941,0.000000,7387,Netherland,Netherland,True
17,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,11.06,-4.01,0.0,60.533333,44.102941,0.000000,7387,Netherland,Netherland,True
18,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,11.04,7.53,0.0,60.514286,61.073529,0.000000,7387,Netherland,Netherland,True
19,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,2.86,-8.93,0.0,52.723810,36.867647,0.000000,7387,Netherland,Netherland,True
20,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,0.45,21.52,0.0,50.428571,81.647059,0.000000,7387,Netherland,Netherland,True
21,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,0.35,-18.34,0.0,50.333333,23.029412,0.000000,7387,Netherland,Netherland,True
22,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-0.70,0.90,0.0,49.333333,51.323529,0.000000,7387,Netherland,Netherland,True

In [43]:
joined_df

,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,...,x,y,z,x_norm,y_norm,responsibility,player_skillcorner_id,team_name_skillcorner,team_name_object,same_team
0,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,0.40,0.29,0.2,50.380952,50.426471,0.0,7387,Netherland,NaN,False
1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-41.03,-0.05,0.0,10.923810,49.926471,0.0,7387,Netherland,France,False
2,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-15.86,-7.61,0.0,34.895238,38.808824,0.0,7387,Netherland,France,False
3,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-16.08,2.42,0.0,34.685714,53.558824,0.0,7387,Netherland,France,False
4,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,...,-14.54,-18.87,0.0,36.152381,22.250000,0.0,7387,Netherland,France,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20603,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,...,31.49,-1.03,0.0,79.990476,48.485294,0.0,7387,Netherland,France,False
20604,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,...,31.89,8.13,0.0,80.371429,61.955882,0.0,7387,Netherland,France,False
20605,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,...,35.56,12.33,0.0,83.866667,68.132353,0.0,7387,Netherland,France,False
20606,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,...,5.09,-7.70,0.0,54.847619,38.676471,0.0,7387,Netherland,France,False
20607,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,221069,W. Weghorst,...,2.10,-16.52,0.0,52.000000,25.705882,0.0,7387,Netherland,France,False

In [44]:
joined_df.to_csv('responsibility_team_matched.csv')

# Identify Attackers and Defenders

In [ ]:
lineup_df = lineup_df[['team_name', 'player_id', 'player_first_name', 'player_last_name']]

In [ ]:
joined_df = joined_df.merge(lineup_df, left_on='object_id', right_on='player_id')

In [ ]:
columns_to_prefix = ['object_id', 'x', 'y', 'z', 'x_norm', 'y_norm', 'team_name', 'player_id' ,'player_first_name', 'player_last_name']
prefix = 'tracking.'
joined_df.rename(columns={col: prefix + col for col in columns_to_prefix}, inplace=True)

In [ ]:
joined_df.to_pickle('passes_df.pkl')