In [1]:
import pandas as pd
import json
import zipfile
import os
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)

In [2]:
DATA_PATH = '../data/'
WYSCOUT_PATH = DATA_PATH + 'wyscout/'
SKILLCORNER_PATH = DATA_PATH + 'skillcorner/'
XT_PLOT_PATH = DATA_PATH + 'xt_plot_worldcup.csv'
MATCH_IDS_PATH = DATA_PATH + 'matchids.csv'

## Load Data

In [3]:
def unzip_all_files_in_dir(directory, target_directory):
    for file in os.listdir(directory):
        if file.endswith('.zip'):
            with zipfile.ZipFile(directory + file, 'r') as zip_ref:
                zip_ref.extractall(target_directory)

In [4]:
unzip = False

if unzip:
    unzip_all_files_in_dir('../../soccer-analytics/data/wyscout/', WYSCOUT_PATH)
    unzip_all_files_in_dir('../../soccer-analytics/data/skillcorner/', SKILLCORNER_PATH)

In [5]:
match_info = pd.read_csv(MATCH_IDS_PATH)
match_info = match_info.dropna(subset=['wyscout', 'skillcorner'])
match_info['skillcorner'] = match_info['skillcorner'].astype(int)

In [6]:
match_info.head(5)

    wyscout  skillcorner        date                 home result         away
8   5414111       952209  2023-03-24               France    4-0  Netherlands
10  5414113       726849  2023-03-24       Czech Republic    3-1       Poland
12  5414115       722109  2023-03-24               Sweden    0-3      Belgium
25  5414127       726848  2023-03-26              England    2-0      Ukraine
33  5414135       952208  2023-03-27  Republic of Ireland    0-1       France

In [7]:
wyscout_id = match_info['wyscout'].values[0]
skillcorner_id = match_info['skillcorner'].values[0]

In [8]:
def wyscout_to_df(filepath, lines=False):
    with open(filepath, encoding='utf8') as f:
        js = json.load(f)
    df = pd.json_normalize(js['events'])
    return df

### wyscout

In [9]:
wyscout_data = wyscout_to_df(WYSCOUT_PATH + str(wyscout_id) + ".json")
with pd.option_context('display.max_columns', None):
    display(wyscout_data.head(3))

,id,matchId,matchPeriod,minute,second,matchTimestamp,videoTimestamp,relatedEventId,shot,groundDuel,aerialDuel,infraction,carry,type.primary,type.secondary,location.x,location.y,team.id,team.name,team.formation,opponentTeam.id,opponentTeam.name,opponentTeam.formation,player.id,player.name,player.position,pass.accurate,pass.angle,pass.height,pass.length,pass.recipient.id,pass.recipient.name,pass.recipient.position,pass.endLocation.x,pass.endLocation.y,possession.id,possession.duration,possession.types,possession.eventsNumber,possession.eventIndex,possession.startLocation.x,possession.startLocation.y,possession.endLocation.x,possession.endLocation.y,possession.team.id,possession.team.name,possession.team.formation,possession.attack,pass,carry.progression,carry.endLocation.x,carry.endLocation.y,groundDuel.opponent.id,groundDuel.opponent.name,groundDuel.opponent.position,groundDuel.duelType,groundDuel.keptPossession,groundDuel.progressedWithBall,groundDuel.stoppedProgress,groundDuel.recoveredPossession,groundDuel.takeOn,groundDuel.side,groundDuel.relatedDuelId,possession.attack.withShot,possession.attack.withShotOnGoal,possession.attack.withGoal,possession.attack.flank,possession.attack.xg,shot.bodyPart,shot.isGoal,shot.onTarget,shot.goalZone,shot.xg,shot.postShotXg,shot.goalkeeperActionId,shot.goalkeeper.id,shot.goalkeeper.name,possession,aerialDuel.opponent.id,aerialDuel.opponent.name,aerialDuel.opponent.position,aerialDuel.opponent.height,aerialDuel.firstTouch,aerialDuel.height,aerialDuel.relatedDuelId,shot.goalkeeper,infraction.yellowCard,infraction.redCard,infraction.type,infraction.opponent.id,infraction.opponent.name,infraction.opponent.position,infraction.opponent
0,1587492614,5414111,1H,0,1,00:00:01.912,3.912638,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",51,50,664,Netherlands,4-2-3-1,4418,France,4-3-3,118,M. Depay,CF,True,114.0,None,24.0,625.0,M. de Roon,RDMF,42.0,83.0,1.587493e+09,110.275779,[],43.0,0.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1587492615,5414111,1H,0,5,00:00:05.782,7.782226,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",42,83,664,Netherlands,4-2-3-1,4418,France,4-3-3,625,M. de Roon,RDMF,True,-133.0,None,21.0,476361.0,L. Geertruida,RCB,29.0,60.0,1.587493e+09,110.275779,[],43.0,1.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1587492616,5414111,1H,0,8,00:00:08.951,10.951834,1.587493e+09,NaN,NaN,NaN,NaN,NaN,pass,"[lateral_pass, short_or_medium_pass]",29,60,664,Netherlands,4-2-3-1,4418,France,4-3-3,476361,L. Geertruida,RCB,True,-100.0,None,22.0,370.0,V. van Dijk,LCB,25.0,28.0,1.587493e+09,110.275779,[],43.0,2.0,51.0,50.0,35.0,67.0,664.0,Netherlands,4-2-3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### skillcorner

In [10]:
metadata = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_metadata.csv")
tracking_df = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_tracking.csv")
lineup_df = pd.read_csv(SKILLCORNER_PATH + str(skillcorner_id) + "_lineup.csv")

In [11]:
print("Metadata")
display(metadata.head(3))
print("Tracking")
display(tracking_df.head(3))
print("Lineup")
display(lineup_df.head(3))

Metadata

,match_id,match_date,competition,season,home_team,away_team,home_score,away_score,home_team_jersey_color,away_team_jersey_color,home_team_number_color,away_team_number_color,home_team_coach,away_team_coach,pitch_name,pitch_length,pitch_width,provider,fps
0,952209,03/24/2023 19:45,European Championship Qualifiers,2023/2024,France,Netherland,4,0,#fafafa,#ff824c,#000000,#000000,Didier Deschamps,Frank De Boer,Stade de France,105.0,68.0,SkillCorner,10

Tracking

,match_id,half,frame_id,timestamp,object_id,x,y,z,extrapolated
0,952209,1,20,0,-1,0.12,-0.19,0.12,False
1,952209,1,20,0,7604,-39.44,-0.21,0.00,True
2,952209,1,20,0,16320,-16.05,-7.18,0.00,False

Lineup

,match_id,team_name,player_id,player_first_name,player_last_name,player_shirt_number,player_position,player_birthdate,start_time,end_time,yellow_card,red_card,injured,goal,own_goal
0,952209,Netherland,14397,Tyrell,Malacia,16,Right Wing Back,1999-08-17,01:26:59,NaN,0,0,False,0,0
1,952209,Netherland,12654,Donyell,Malen,7,Right Winger,1999-01-19,01:06:22,NaN,0,0,False,0,0
2,952209,Netherland,2548,Davy,Klaassen,14,Attacking Midfield,1993-02-21,01:06:22,NaN,0,0,False,0,0

# Pass Events

In [12]:
passes_df = wyscout_data[wyscout_data['type.primary'] == 'pass']

# Filter out inaccurate passes
accurate_only = True
if accurate_only:
    passes_df = passes_df[passes_df['pass.accurate'] == True]

print(passes_df.shape)

(897, 93)

In [13]:
relevant_columns = ['id', 'matchId', 'matchPeriod', 'matchTimestamp',
       'relatedEventId', 'type.primary', 'type.secondary', 'location.x',
       'location.y', 'team.id', 'team.name', 'opponentTeam.id', 'opponentTeam.name', 'player.id', 'player.name', 'player.position', 'pass.accurate',
       'pass.angle', 'pass.height', 'pass.length', 'pass.recipient.id',
       'pass.recipient.name', 'pass.recipient.position', 'pass.endLocation.x',
       'pass.endLocation.y', 'possession.id', 'possession.attack.withShotOnGoal', 'possession.attack.withGoal']
passes_ext = passes_df[relevant_columns]

print(passes_ext.shape)

(897, 28)

In [14]:
passes = passes_df.loc[:,['matchId', 'matchTimestamp', 'matchPeriod', 'team.id', 'team.name', 'player.id', 'player.name', 'opponentTeam.id', 'opponentTeam.name', 'pass.recipient.id', 'pass.recipient.name', 'location.x', 'location.y', 'pass.endLocation.x', 'pass.endLocation.y']]
passes.head()

,matchId,matchTimestamp,matchPeriod,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y
0,5414111,00:00:01.912,1H,664,Netherlands,118,M. Depay,4418,France,625.0,M. de Roon,51,50,42.0,83.0
1,5414111,00:00:05.782,1H,664,Netherlands,625,M. de Roon,4418,France,476361.0,L. Geertruida,42,83,29.0,60.0
2,5414111,00:00:08.951,1H,664,Netherlands,476361,L. Geertruida,4418,France,370.0,V. van Dijk,29,60,25.0,28.0
3,5414111,00:00:13.151,1H,664,Netherlands,370,V. van Dijk,4418,France,476361.0,L. Geertruida,25,28,25.0,51.0
5,5414111,00:00:17.930,1H,664,Netherlands,476361,L. Geertruida,4418,France,370.0,V. van Dijk,32,50,30.0,17.0

In [15]:
passes['matchPeriod'] = passes['matchPeriod'].apply(lambda x: int(x.split('H')[0]))
passes['pass.recipient.id'] = passes['pass.recipient.id'].astype(int)
passes['pass.endLocation.x'] = passes['pass.endLocation.x'].astype(int)
passes['pass.endLocation.y'] = passes['pass.endLocation.y'].astype(int)

In [16]:
passes.head()

,matchId,matchTimestamp,matchPeriod,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,pass.recipient.id,pass.recipient.name,location.x,location.y,pass.endLocation.x,pass.endLocation.y
0,5414111,00:00:01.912,1,664,Netherlands,118,M. Depay,4418,France,625,M. de Roon,51,50,42,83
1,5414111,00:00:05.782,1,664,Netherlands,625,M. de Roon,4418,France,476361,L. Geertruida,42,83,29,60
2,5414111,00:00:08.951,1,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,29,60,25,28
3,5414111,00:00:13.151,1,664,Netherlands,370,V. van Dijk,4418,France,476361,L. Geertruida,25,28,25,51
5,5414111,00:00:17.930,1,664,Netherlands,476361,L. Geertruida,4418,France,370,V. van Dijk,32,50,30,17

# Compute ΔxT

In [17]:
xt_table = pd.read_csv('../data/xt_plot_worldcup.csv')
xt_table = pd.read_csv('../data/smoothed_xt.csv')

In wyscout coordinates are normalized to the range (0,100) in both spatial dimensions.

In [18]:
cell_width = 100 / xt_table.shape[1]
cell_height = 100 / xt_table.shape[0]

print(f'cell width:\t{round(cell_width,2)}')
print(f'cell height:\t{round(cell_height,2)}')

cell width:	0.95
cell height:	1.47

In [19]:
def get_xt_index(x, y):
    x_index = min(int(x // cell_width), xt_table.shape[1] - 1)
    y_index = min(int(y // cell_height), xt_table.shape[0] - 1)
    return x_index, y_index

In [20]:
start_xts = passes.apply(lambda row: xt_table.iat[get_xt_index(row['location.x'], row['location.y'])[1], 
                                                           get_xt_index(row['location.x'], row['location.y'])[0]], axis=1)
end_xts = passes.apply(lambda row: xt_table.iat[get_xt_index(row['pass.endLocation.x'], row['pass.endLocation.y'])[1], 
                                                         get_xt_index(row['pass.endLocation.x'], row['pass.endLocation.y'])[0]], axis=1)
passes.loc[:,'dxt'] = end_xts - start_xts

# Player Locations

In [21]:
def round_to_tenth_of_second(timestamp):
    dt = datetime.strptime(timestamp, '%H:%M:%S.%f')
    microsecond = dt.microsecond
    rounded_microsecond = round(microsecond, -5)
    if rounded_microsecond == 1000000:
        dt += timedelta(seconds=1)
        rounded_microsecond = 0
    dt = dt.replace(microsecond=rounded_microsecond)
    return f"{dt.strftime('%H:%M:%S')}.{rounded_microsecond:06}"

def convert_timestamp(row):
    ts = row['timestamp']
    if row['half'] == 2:
        ts += 45 * 60 * 1000  # Add 45 minutes in milliseconds
    td = timedelta(milliseconds=ts)
    total_seconds = int(td.total_seconds())
    microseconds = int(td.microseconds)
    return f"{total_seconds // 3600:02}:{(total_seconds % 3600) // 60:02}:{total_seconds % 60:02}.{microseconds:06}"

In [22]:
columns_to_drop = ['frame_id', 'extrapolated']
existing_columns_to_drop = [col for col in columns_to_drop if col in tracking_df.columns]
tracking_df.drop(columns=existing_columns_to_drop, inplace=True)

In [23]:
if not {'timestamp', 'period'}.issubset(tracking_df.index.names):    
    tracking_df['timestamp'] = tracking_df.apply(convert_timestamp, axis=1)
    tracking_df.set_index(['timestamp', 'half'], inplace=True)
    tracking_df.rename_axis(index={'timestamp': 'timestamp', 'half': 'period'}, inplace=True)
tracking_df.sample(3)

                        match_id  object_id     x      y    z
timestamp       period
01:31:33.800000 2         952209       6028  2.14 -13.67  0.0
00:41:13.300000 1         952209       7387 -2.94 -19.69  0.0
01:08:35.800000 2         952209       3837  5.57 -11.12  0.0

In [24]:
passes['quantizedTimestamp'] = passes['matchTimestamp'].apply(round_to_tenth_of_second)
if not {'timestamp', 'period'}.issubset(passes.index.names):
    passes.set_index(['quantizedTimestamp', 'matchPeriod'], inplace=True)
    passes.rename_axis(index={'quantizedTimestamp': 'timestamp', 'matchPeriod': 'period'}, inplace=True)

In [25]:
joined_df = passes.join(tracking_df, how='inner')

In [26]:
columns_to_drop = ['match_id']
existing_columns_to_drop = [col for col in columns_to_drop if col in joined_df.columns]
joined_df.drop(columns=existing_columns_to_drop, inplace=True)

joined_df['object_id'] = joined_df['object_id'].astype(int)

# Normalize Pitch Coordinates

In [28]:
pitch_length = metadata['pitch_length'].values[0]
pitch_width = metadata['pitch_width'].values[0]

In [29]:
def normalize_coordinates(row):
    x, y = row['x'], row['y']
    new_x = (-x + pitch_length/2) / pitch_length * 100
    new_y = (y + pitch_width/2) / pitch_width * 100
    return new_x, new_y

In [30]:
df = joined_df.apply(lambda row: normalize_coordinates(row), axis=1)
joined_df[['x_norm', 'y_norm']] = pd.DataFrame(df.tolist(), index=df.index)

# Identify Attackers and Defenders

In [31]:
lineup_df = lineup_df[['team_name', 'player_id', 'player_first_name', 'player_last_name']]

In [32]:
joined_df = joined_df.merge(lineup_df, left_on='object_id', right_on='player_id')

In [33]:
columns_to_prefix = ['object_id', 'x', 'y', 'z', 'x_norm', 'y_norm', 'team_name', 'player_id' ,'player_first_name', 'player_last_name']
prefix = 'tracking.'
joined_df.rename(columns={col: prefix + col for col in columns_to_prefix}, inplace=True)

In [37]:
joined_df.to_pickle('passes_df.pkl')