In [1]:
#import numpy as np
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/traitlets/config/application.py", line 992, in launch_instance
    app.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 711, in start
    self.io_loop.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 1906, in _run_once
    handle._run()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell
    await result
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/z9/z6djmqsd5m1bqhh3jv9ccpz40000gn/T/ipykernel_57767/3424293296.py", line 2, in <module>
    import pandas as pd
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 50, in <module>
    from pandas.core import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/keremgura/anaconda3/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/keremgura/anaconda3/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/traitlets/config/application.py", line 992, in launch_instance
    app.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 711, in start
    self.io_loop.start()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/base_events.py", line 1906, in _run_once
    handle._run()
  File "/Users/keremgura/anaconda3/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell
    await result
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 729, in execute_request
    reply_content = await reply_content
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 411, in do_execute
    res = shell.run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 531, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2961, in run_cell
    result = self._run_cell(
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3016, in _run_cell
    result = runner(coro)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3221, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3400, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/z9/z6djmqsd5m1bqhh3jv9ccpz40000gn/T/ipykernel_57767/3424293296.py", line 2, in <module>
    import pandas as pd
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/arrow/array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py", line 60, in <module>
    from pandas.core import (
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/keremgura/anaconda3/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/keremgura/anaconda3/lib/python3.10/site-packages/bottleneck/__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [2]:
data = pd.read_csv('responsibility.csv')
data

,timestamp,period,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,...,pass.endLocation.y,dxt,object_id,x,y,z,x_norm,y_norm,distance_to_pass,responsibility
0,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,-1,0.40,0.29,0.2,50.380952,50.426471,0.485023,0.0
1,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,7604,-41.03,-0.05,0.0,10.923810,49.926471,38.683406,0.0
2,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,16320,-15.86,-7.61,0.0,34.895238,38.808824,19.611369,0.0
3,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,11516,-16.08,2.42,0.0,34.685714,53.558824,14.803044,0.0
4,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,11630,-14.54,-18.87,0.0,36.152381,22.250000,31.472437,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20603,01:33:38.800000,2,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,...,42,0.064346,20191,31.49,-1.03,0.0,79.990476,48.485294,11.100926,0.0
20604,01:33:38.800000,2,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,...,42,0.064346,12229,31.89,8.13,0.0,80.371429,61.955882,21.741423,0.0
20605,01:33:38.800000,2,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,...,42,0.064346,12246,35.56,12.33,0.0,83.866667,68.132353,26.631766,0.0
20606,01:33:38.800000,2,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,...,42,0.064346,6028,5.09,-7.70,0.0,54.847619,38.676471,31.007801,0.0
20607,01:33:38.800000,2,5414111,01:33:38.826,664,Netherlands,118,M. Depay,4418,France,...,42,0.064346,8206,2.10,-16.52,0.0,52.000000,25.705882,29.322217,0.0

In [3]:
id_map = pd.read_csv('player_id_map.csv')
id_map

,Unnamed: 0,player_id_sk,player_first_name_sk,player_last_name_sk,team_name_sk,player_id_wy,player_name_wy,team_id_wy,team_name_wy
0,0,277,Adrien,Rabiot,France,209117,A. Rabiot,4418,France
1,1,946,Antoine,Griezmann,France,3682,A. Griezmann,4418,France
2,2,12218,Aurélien,Tchouaméni,France,480145,A. Tchouaméni,4418,France
3,3,2106,Daley,Blind,Netherland,38,D. Blind,664,Netherlands
4,4,2548,Davy,Klaassen,Netherland,56,D. Klaassen,664,Netherlands
5,5,11516,Dayot,Upamecano,France,352988,D. Upamecano,4418,France
6,6,12654,Donyell,Malen,Netherland,365446,D. Malen,664,Netherlands
7,7,22103,Eduardo,Camavinga,France,599551,E. Camavinga,4418,France
8,8,3837,Georginio,Wijnaldum,Netherland,116,G. Wijnaldum,664,Netherlands
9,9,16320,Ibrahima,Konaté,France,393247,I. Konaté,4418,France
10,10,4777,Jasper,Cillessen,Netherland,33,J. Cillessen,664,Netherlands
11,11,11630,Jules,Koundé,France,410062,J. Koundé,4418,France
12,12,24466,Jurriën,Timber Maduro,Netherland,491458,J. Timber,664,Netherlands
13,13,33512,Kenneth,Taylor,Netherland,535816,K. Taylor,664,Netherlands
14,14,20191,Khéphren,Thuram-Ulien,France,532750,K. Thuram,4418,France
15,15,5922,Kingsley,Coman,France,231139,K. Coman,4418,France
16,16,6028,Kylian,Mbappé Lottin,France,353833,K. Mbappé,4418,France
17,17,14407,Lutsharel,Geertruida,Netherland,476361,L. Geertruida,664,Netherlands
18,18,7017,Marten,de Roon,Netherland,625,M. de Roon,664,Netherlands
19,19,7387,Memphis,Depay,Netherland,118,M. Depay,664,Netherlands
20,20,7604,Mike,Maignan,France,134496,M. Maignan,4418,France
21,21,12246,Moussa,Diaby,France,419204,M. Diaby,4418,France
22,22,7863,Nathan,Aké,Netherland,134102,N. Aké,664,Netherlands
23,23,8206,Olivier,Giroud,France,26010,O. Giroud,4418,France
24,24,12190,Randal,Kolo Muani,France,437490,R. Kolo Muani,4418,France
25,25,10082,Steven,Berghuis,Netherland,704,S. Berghuis,664,Netherlands
26,26,11606,Theo,Hernández,France,344132,T. Hernández,4418,France
27,27,14397,Tyrell,Malacia,Netherland,404748,T. Malacia,664,Netherlands
28,28,10738,Virgil,van Dijk,Netherland,370,V. van Dijk,664,Netherlands
29,29,10916,Wout,Weghorst,Netherland,221069,W. Weghorst,664,Netherlands
30,30,31930,Xavi Quentin Shay,Simons,Netherland,626551,Xavi Simons,664,Netherlands
31,31,12229,Youssouf,Fofana,France,525236,Y. Fofana,4418,France

In [4]:
data.head(22)

,timestamp,period,matchId,matchTimestamp,team.id,team.name,player.id,player.name,opponentTeam.id,opponentTeam.name,...,pass.endLocation.y,dxt,object_id,x,y,z,x_norm,y_norm,distance_to_pass,responsibility
0,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,-1,0.40,0.29,0.2,50.380952,50.426471,0.485023,0.000000
1,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,7604,-41.03,-0.05,0.0,10.923810,49.926471,38.683406,0.000000
2,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,16320,-15.86,-7.61,0.0,34.895238,38.808824,19.611369,0.000000
3,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,11516,-16.08,2.42,0.0,34.685714,53.558824,14.803044,0.000000
4,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,11630,-14.54,-18.87,0.0,36.152381,22.250000,31.472437,0.000000
5,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,11606,-14.08,17.56,0.0,36.590476,75.823529,7.107167,0.289283
6,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,12218,-9.69,0.05,0.0,40.771429,50.073529,9.848809,0.015119
7,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,277,-7.61,9.58,0.0,42.752381,64.088235,4.250145,0.574986
8,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,946,-6.20,-6.81,0.0,44.095238,39.985294,12.164295,0.000000
9,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,5922,-1.21,-19.48,0.0,48.847619,21.352941,28.727804,0.000000
10,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,6028,-0.19,22.92,0.0,49.819048,83.705882,7.729264,0.227074
11,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,12190,0.12,-9.05,0.0,50.114286,36.691176,13.338264,0.000000
12,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,4777,40.57,0.23,0.0,88.638095,50.338235,37.639615,0.000000
13,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,14407,18.81,5.97,0.0,67.914286,58.779412,18.628307,0.000000
14,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,10738,18.44,-12.58,0.0,67.561905,31.500000,24.830358,0.000000
15,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,24466,11.61,21.55,0.0,61.057143,81.691176,18.041268,0.000000
16,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,7863,14.46,-22.88,0.0,63.771429,16.352941,35.989359,0.000000
17,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,33512,11.06,-4.01,0.0,60.533333,44.102941,11.209806,0.000000
18,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,7017,11.04,7.53,0.0,60.514286,61.073529,12.092677,0.000000
19,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,3837,2.86,-8.93,0.0,52.723810,36.867647,13.245007,0.000000
20,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,10082,0.45,21.52,0.0,50.428571,81.647059,7.775598,0.222440
21,00:00:01.900000,1,5414111,00:00:01.912,664,Netherlands,118,M. Depay,4418,France,...,83,-0.004162,31930,0.35,-18.34,0.0,50.333333,23.029412,26.978826,0.000000